*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--clr-primary: rgb(0,0,0);
	--clr-light: rgb(212, 212, 212);
	--clr-dark:rgb(0, 0, 17);
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.125rem;
	color: var(--clr-dark);
	line-height: 1.6;
}

header {
	background-color: var(--clr-light);
	padding: 1rem;
	text-align: center;
}

.nav-list{
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
	padding: 0;
	list-style: none;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.nav-list-item > a{
	text-decoration: none;
	color: inherit;
}

.main{
	background: white;
	background-position: center;
	background-size: cover;
	padding: 1em;
}
.main-overlay{
	opacity: 1;
}

.main-title{
	line-height: 1;
	font-weight: bold;
	font-size: 3rem;
}

.container img{
	float: left;
	margin-right: 1rem;
	max-width: 10rem;
	border-radius: 1rem;
}
table{
	margin: 1rem auto;
}

.table{
	visibility: hidden;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: visibility 0.1s, opacity 0.5s ease-in-out;
}

caption strong{
	font-size: 1.5rem;
}

footer{
	display: flex;
	padding: 1em 2em;
	color: var(--clr-light);
	background: var(--clr-dark);
	justify-content: center;
	text-align: center;
}

@media (min-width: 37rem){
	header, .main{
		padding: 1rem 2rem;
	}
	header{
		display: flex;
		justify-content: space-between;
	}
	.nav-list{
		display: flex;
		gap: 2rem;
	}
	.concept-statement{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
	.concept-statement :nth-child(1) {
		grid-column: span 2;
	}
	.table{
		visibility: visible;
		height: auto;
		overflow: visible;
		opacity: 1;
	}
}