*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --clr-accent: hsl(263, 55%, 52%);
  --clr-primary: #ffffff;
  --clr-secondary: hsl(217, 19%, 35%);
  --clr-tertiarty:hsl(219, 29%, 14%);
  --clr-gradient: rgb(0 255 220);
  --ff:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family:var(--ff);
  background: white;
  color: black;
  line-height: 1.5em;
  font-size: 1rem;
}

body > header{
  height: 45rem;
  background: url(../images/jeremy-bishop-KrHNUF7rd3U-unsplash.jpg);
  background-size: cover;
}

.container{
  padding: 1rem 3rem;
}

.btn{
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--clr-accent);
  color: var(--clr-primary);
  font-size: 1.15rem;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  padding: 0.5rem 3rem;
  max-width: 110rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/* nav-styles */
.current {
  color: var(--clr-accent);
}

.nav{
  display: none;
  padding: 1rem;
  justify-self: center;
}

.nav-list {
  display: flex;
  gap: 3em;
}

.nav-list-item {
  list-style-type: none;
}

.hero{
  padding-top: 7rem;
}

.hero-title{
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.hero-info{
  font-size: 1.1rem;
  padding: 2rem 0;
  max-width: 55ch;
}

.card-container{
  margin: 2rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; 
  max-width: 60rem;
}

.card {
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgb(136, 136, 136) 0px 1px 10px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  margin-right: 10px;
}

.card-title > h3 {
  font-size: 1.15rem;
}

.card--bg-purple {
  background: var(--clr-accent);
  color: var(--clr-primary);
  background-image: url("../icons/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card--bg-gray-blue {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}

.card--bg-black-blue {
  background: var(--clr-tertiarty);
  color: var(--clr-primary);
}

.card--bg-black-blue a{
  color: var(--clr-primary);
}

@media (min-width: 61.5rem) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .card:nth-of-type(1),.card:nth-of-type(2),.card:nth-of-type(4){
    grid-column: span 2;
  }
}

.video-container {
  margin: auto;
  padding: 3rem;
  max-width: 110rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background:-moz-linear-gradient(25deg, var(--clr-accent),var(--clr-accent),var(--clr-gradient));
}

iframe {
	border-radius: 20px;
  margin: auto;
  display: block;
  border: 0;
  width: 100%;
  height: 255px;
}

@media (min-width: 38rem){
  iframe{
    width: 450px;
  }
}

.faqs{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.questions-container{
  padding: 3rem;
}

.question:nth-child(4n+1){
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

.question:nth-child(4n+3){
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.questions-title{
  padding: 2rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 64rem){
  .video-container{
    grid-template-columns: 1fr 450px;
  }
  .faqs{
    grid-template-columns: repeat(2, 1fr);
  }

  .question:nth-child(4n){
    background-color: var(--clr-accent);
    color: var(--clr-primary);
  }
  .question:nth-child(4n+3){
    background-color: var(--clr-primary);
    color: black;
  }
}

.question {
  justify-self: center;
  border-radius: 1rem;
  box-shadow: rgb(136, 136, 136) 0px 1px 10px;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

.question-title h4{
  transition: all 1s linear;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: all 1s linear;
}

.question-text {
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -moz-transition: pacity 1s, padding 1s linear, max-height 3s ease-in;
  transition: opacity 1s, padding 1s linear, max-height 1s ease-in;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.show-text .question-text {
  padding: 1rem 0 1.5rem 0;
  opacity: 1;
  max-height: 15rem;
}

.show-text .question-btn{
  transform: rotate(-180deg);
}

.footer{
  display: grid;
  gap: 2rem;
	background-color: #24262b;
  padding: 3rem;
}

.footer-col{
  width: 100%;
  padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--clr-accent);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(min-width: 460px){
  .footer{
    grid-template-columns: 1fr 1fr;
  }
  .footer :last-of-type{
    grid-column: span 2;
  }
}

@media (min-width: 720px){
  .footer{
    grid-template-columns: repeat(3,1fr);
  }

  .footer :last-of-type{
    grid-column: 3;
  }
}